[submodule "src/support/eigen-git-mirror"]
	path = src/support/eigen-git-mirror
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/support/pybind11"]
	path = src/support/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "src/support/MDA_Utilities"]
	path = src/support/MDA_Utilities
	url = https://github.com/BCDA-APS/MDA_Utilities.git
